# Projects -Cohort Analysis for assessing customer retention in E-commerce industry

## 01 - Data Loading & Initial Cleaning

This notebook handles the initial steps of our cohort analysis project:
- Loading the raw e-commerce dataset
- Inspecting structure and content
- Identifying missing values and data types
- Preparing columns for further analysis (e.g., TotalPrice, InvoiceDate)

Dataset: `Dataset_ecommerce.csv`

In [27]:
# import necessary librairies
import pandas as pd
import os

# Define path to the dataset (relative path from 'notebooks' folder)
dataset_path = os.path.join("..", "dataset", "Dataset_ecommerce.csv")

# Load the dataset into a DataFrame
df = pd.read_csv(dataset_path)

# Display the shape of the DataFrame and the first few rows
print(f"Datashape : {df.shape}")
df.head(10)

Datashape : (541909, 8)

,InvoiceNo,InvoiceDate,CustomerID,StockCode,Description,Quantity,UnitPrice,Country
0,536365,2010-12-01 08:26:00,17850.0,SC1734,Electronics,65,10.23,Egypt
1,536365,2010-12-01 08:26:00,17850.0,SC2088,Furniture,95,19.61,Mali
2,536365,2010-12-01 08:26:00,17850.0,SC3463,Books,78,61.49,Mali
3,536365,2010-12-01 08:26:00,17850.0,SC6228,Toys,15,24.73,South Africa
4,536365,2010-12-01 08:26:00,17850.0,SC2149,Toys,50,38.83,Rwanda
5,536365,2010-12-01 08:26:00,17850.0,SC7895,Toys,41,45.31,Sierra Leone
6,536365,2010-12-01 08:26:00,17850.0,SC8608,Books,44,39.31,Benin
7,536366,2010-12-01 08:28:00,17850.0,SC3216,Toys,47,77.35,Burkina Faso
8,536366,2010-12-01 08:28:00,17850.0,SC1236,Kitchenware,19,35.11,Nigeria
9,536367,2010-12-01 08:34:00,13047.0,SC4513,Furniture,55,3.21,Cote d'Ivoire

In [31]:
# Check for missing values in each column
df.isnull().sum()

InvoiceNo           0
InvoiceDate         0
CustomerID     135080
StockCode           0
Description         0
Quantity            0
UnitPrice           0
Country             0
dtype: int64

In [41]:
# Show percent of missing
missing_percent = df.isnull().mean() * 100
#print(f"Percent of missing : {missing_percent}")
missing_percent[missing_percent > 0].sort_values(ascending=False)

CustomerID    24.926694
dtype: float64

In [79]:
# Delete rows with null values
#df_cleaned = df.dropna()
df = df[df['CustomerID'].notnull()]
# display shape after cleaning
#print(f"Shape cleaned : {df_cleaned.shape}")
print(f"Shape cleaned : {df.shape}")

Shape cleaned : (406829, 8)

In [81]:
# Checking again if null values remain
df.isnull().sum()

InvoiceNo      0
InvoiceDate    0
CustomerID     0
StockCode      0
Description    0
Quantity       0
UnitPrice      0
Country        0
dtype: int64

In [75]:
df.dtypes

InvoiceNo       object
InvoiceDate     object
CustomerID     float64
StockCode       object
Description     object
Quantity         int64
UnitPrice      float64
Country         object
dtype: object

In [89]:
# Format InvoiceDate
df['InvoiceDate'] = pd.to_datetime(df['InvoiceDate'])
df.dtypes

InvoiceNo              object
InvoiceDate    datetime64[ns]
CustomerID            float64
StockCode              object
Description            object
Quantity                int64
UnitPrice             float64
Country                object
dtype: object

In [93]:
df.head()

,InvoiceNo,InvoiceDate,CustomerID,StockCode,Description,Quantity,UnitPrice,Country
0,536365,2010-12-01 08:26:00,17850.0,SC1734,Electronics,65,10.23,Egypt
1,536365,2010-12-01 08:26:00,17850.0,SC2088,Furniture,95,19.61,Mali
2,536365,2010-12-01 08:26:00,17850.0,SC3463,Books,78,61.49,Mali
3,536365,2010-12-01 08:26:00,17850.0,SC6228,Toys,15,24.73,South Africa
4,536365,2010-12-01 08:26:00,17850.0,SC2149,Toys,50,38.83,Rwanda

In [95]:
# Create a total price column
df['TotalPrice'] = df['Quantity'] * df['UnitPrice']
df.head()

,InvoiceNo,InvoiceDate,CustomerID,StockCode,Description,Quantity,UnitPrice,Country,TotalPrice
0,536365,2010-12-01 08:26:00,17850.0,SC1734,Electronics,65,10.23,Egypt,664.95
1,536365,2010-12-01 08:26:00,17850.0,SC2088,Furniture,95,19.61,Mali,1862.95
2,536365,2010-12-01 08:26:00,17850.0,SC3463,Books,78,61.49,Mali,4796.22
3,536365,2010-12-01 08:26:00,17850.0,SC6228,Toys,15,24.73,South Africa,370.95
4,536365,2010-12-01 08:26:00,17850.0,SC2149,Toys,50,38.83,Rwanda,1941.50

In [99]:
# initial inspection
df.isnull().sum()

InvoiceNo      0
InvoiceDate    0
CustomerID     0
StockCode      0
Description    0
Quantity       0
UnitPrice      0
Country        0
TotalPrice     0
dtype: int64

In [105]:
df.shape

(406829, 9)

In [107]:
df.head()

,InvoiceNo,InvoiceDate,CustomerID,StockCode,Description,Quantity,UnitPrice,Country,TotalPrice
0,536365,2010-12-01 08:26:00,17850.0,SC1734,Electronics,65,10.23,Egypt,664.95
1,536365,2010-12-01 08:26:00,17850.0,SC2088,Furniture,95,19.61,Mali,1862.95
2,536365,2010-12-01 08:26:00,17850.0,SC3463,Books,78,61.49,Mali,4796.22
3,536365,2010-12-01 08:26:00,17850.0,SC6228,Toys,15,24.73,South Africa,370.95
4,536365,2010-12-01 08:26:00,17850.0,SC2149,Toys,50,38.83,Rwanda,1941.50

In [109]:
df.columns

Index(['InvoiceNo', 'InvoiceDate', 'CustomerID', 'StockCode', 'Description',
       'Quantity', 'UnitPrice', 'Country', 'TotalPrice'],
      dtype='object')

In [111]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 406829 entries, 0 to 541908
Data columns (total 9 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   InvoiceNo    406829 non-null  object
 1   InvoiceDate  406829 non-null  datetime64[ns]
 2   CustomerID   406829 non-null  float64
 3   StockCode    406829 non-null  object
 4   Description  406829 non-null  object
 5   Quantity     406829 non-null  int64
 6   UnitPrice    406829 non-null  float64
 7   Country      406829 non-null  object
 8   TotalPrice   406829 non-null  float64
dtypes: datetime64[ns](1), float64(3), int64(1), object(4)
memory usage: 31.0+ MB

In [119]:
df['Quantity'].describe()

count    406829.000000
mean         50.478471
std          28.872921
min           1.000000
25%          25.000000
50%          50.000000
75%          75.000000
max         100.000000
Name: Quantity, dtype: float64

In [127]:
df['InvoiceNo'].nunique()

22190

In [129]:
df['Country'].value_counts()

Country
Nigeria          14714
Sierra Leone     14684
Somalia          14656
Cote d'Ivoire    14645
Mozambique       14639
Cameroon         14619
Senegal          14616
Benin            14610
Ghana            14604
Libya            14585
Zimbabwe         14572
Ethiopia         14565
Rwanda           14563
Togo             14560
Morocco          14530
Sudan            14530
Kenya            14525
Algeria          14492
South Africa     14469
Egypt            14456
Niger            14455
Tunisia          14452
Uganda           14450
Burkina Faso     14413
Zambia           14397
Tanzania         14390
Mali             14319
Madagascar       14319
Name: count, dtype: int64

In [136]:
# Define the new desired columns order
new_order = [
    'InvoiceNo',
    'InvoiceDate',
    'CustomerID',
    'StockCode',
    'Description',
    'Quantity',
    'UnitPrice',
    'TotalPrice',
    'Country'
]
df = df[new_order]
df.head()

,InvoiceNo,InvoiceDate,CustomerID,StockCode,Description,Quantity,UnitPrice,TotalPrice,Country
0,536365,2010-12-01 08:26:00,17850.0,SC1734,Electronics,65,10.23,664.95,Egypt
1,536365,2010-12-01 08:26:00,17850.0,SC2088,Furniture,95,19.61,1862.95,Mali
2,536365,2010-12-01 08:26:00,17850.0,SC3463,Books,78,61.49,4796.22,Mali
3,536365,2010-12-01 08:26:00,17850.0,SC6228,Toys,15,24.73,370.95,South Africa
4,536365,2010-12-01 08:26:00,17850.0,SC2149,Toys,50,38.83,1941.50,Rwanda

In [148]:
# Export cleaned DataFrame to CSV
df.to_csv('../dataset/Cleaned_Dataset_ecommerce.csv', index=False)

# Export cleaned Dataframe to Pickle
df.to_pickle('../dataset/Cleaned_Dataset_ecommerce.pkl')