# Projects -Cohort Analysis for assessing customer retention in E-commerce industry

## 02 - Exploratory Data Analysis (EDA) - Sales & Customer Behavior

In this notebook, we explore the dataset to better understand:

- Overall sales trends over time
- Top-selling products
- Customer activity and purchasing frequency
- Patterns in purchase behavior (quantity, price, time)

This will help us identify key insights before moving on to modeling or segmentation.

Dataset: Cleaned_Dataset_ecommerce.csv

In [34]:
# Import necessary libraries
import pandas as pd
import matplotlib.pyplot as plt
import os

dataset_path = os.path.join("..", "dataset", "Cleaned_Dataset_ecommerce.csv")
#dataset_path = os.path.join("..", "dataset", "Cleaned_Dataset_ecommerce.pkl")

df = pd.read_csv(dataset_path)
#df = pd.read_pickle(dataset_path)

df.shape
df

,InvoiceNo,InvoiceDate,CustomerID,StockCode,Description,Quantity,UnitPrice,TotalPrice,Country
0,536365,2010-12-01 08:26:00,17850.0,SC1734,Electronics,65,10.23,664.95,Egypt
1,536365,2010-12-01 08:26:00,17850.0,SC2088,Furniture,95,19.61,1862.95,Mali
2,536365,2010-12-01 08:26:00,17850.0,SC3463,Books,78,61.49,4796.22,Mali
3,536365,2010-12-01 08:26:00,17850.0,SC6228,Toys,15,24.73,370.95,South Africa
4,536365,2010-12-01 08:26:00,17850.0,SC2149,Toys,50,38.83,1941.50,Rwanda
...,...,...,...,...,...,...,...,...,...
406824,581587,2011-12-09 12:50:00,12680.0,SC5440,Furniture,25,36.53,913.25,Mozambique
406825,581587,2011-12-09 12:50:00,12680.0,SC3576,Cloths,94,90.65,8521.10,Tunisia
406826,581587,2011-12-09 12:50:00,12680.0,SC5283,Furniture,14,40.07,560.98,Somalia
406827,581587,2011-12-09 12:50:00,12680.0,SC1099,Cosmetics,45,79.83,3592.35,Senegal
406828,581587,2011-12-09 12:50:00,12680.0,SC9276,Toys,6,46.62,279.72,Ethiopia

### Sales Trends

We analyze sales performance over time to identify business trends, seasonality, and growth patterns.  
This includes tracking revenue by month and visualizing key changes that inform strategic decisions.

In [44]:
df['InvoiceDate'] = pd.to_datetime(df['InvoiceDate'], errors='coerce')
df['InvoiceMonth'] = df['InvoiceDate'].dt.to_period('M')
df

,InvoiceNo,InvoiceDate,CustomerID,StockCode,Description,Quantity,UnitPrice,TotalPrice,Country,InvoiceMonth
0,536365,2010-12-01 08:26:00,17850.0,SC1734,Electronics,65,10.23,664.95,Egypt,2010-12
1,536365,2010-12-01 08:26:00,17850.0,SC2088,Furniture,95,19.61,1862.95,Mali,2010-12
2,536365,2010-12-01 08:26:00,17850.0,SC3463,Books,78,61.49,4796.22,Mali,2010-12
3,536365,2010-12-01 08:26:00,17850.0,SC6228,Toys,15,24.73,370.95,South Africa,2010-12
4,536365,2010-12-01 08:26:00,17850.0,SC2149,Toys,50,38.83,1941.50,Rwanda,2010-12
...,...,...,...,...,...,...,...,...,...,...
406824,581587,2011-12-09 12:50:00,12680.0,SC5440,Furniture,25,36.53,913.25,Mozambique,2011-12
406825,581587,2011-12-09 12:50:00,12680.0,SC3576,Cloths,94,90.65,8521.10,Tunisia,2011-12
406826,581587,2011-12-09 12:50:00,12680.0,SC5283,Furniture,14,40.07,560.98,Somalia,2011-12
406827,581587,2011-12-09 12:50:00,12680.0,SC1099,Cosmetics,45,79.83,3592.35,Senegal,2011-12
406828,581587,2011-12-09 12:50:00,12680.0,SC9276,Toys,6,46.62,279.72,Ethiopia,2011-12

In [70]:
monthly_revenue = df.groupby('InvoiceMonth')['TotalPrice'].sum().reset_index()
monthly_revenue = monthly_revenue.sort_values("TotalPrice", ascending=False).reset_index()

In [72]:
monthly_revenue

    index InvoiceMonth    TotalPrice
0      11      2011-11  1.677331e+08
1      10      2011-10  1.287425e+08
2       9      2011-09  1.036281e+08
3       5      2011-05  7.434151e+07
4       3      2011-03  7.137210e+07
5       6      2011-06  7.109639e+07
6       7      2011-07  7.040789e+07
7       8      2011-08  6.994326e+07
8       0      2010-12  6.792367e+07
9       4      2011-04  5.914003e+07
10      1      2011-01  5.582933e+07
11      2      2011-02  5.208536e+07
12     12      2011-12  4.519251e+07

In [91]:
Quantity_by_country = df.groupby('Country')['Quantity'].sum().reset_index()

In [93]:
Quantity_by_country

          Country  Quantity
0         Algeria    736181
1           Benin    738133
2    Burkina Faso    728332
3        Cameroon    730881
4   Cote d'Ivoire    740229
5           Egypt    729299
6        Ethiopia    732940
7           Ghana    735354
8           Kenya    732247
9           Libya    739206
10     Madagascar    726297
11           Mali    732358
12        Morocco    732594
13     Mozambique    735416
14          Niger    725841
15        Nigeria    739708
16         Rwanda    733511
17        Senegal    733968
18   Sierra Leone    735477
19        Somalia    736219
20   South Africa    740589
21          Sudan    734158
22       Tanzania    725664
23           Togo    741223
24        Tunisia    733082
25         Uganda    724525
26         Zambia    725152
27       Zimbabwe    737522

In [85]:
Quantity_by_country = Quantity_by_country.sort_values('Quantity', ascending = False).reset_index()
Quantity_by_country

    index        Country  Quantity
0      23           Togo    741223
1      20   South Africa    740589
2       4  Cote d'Ivoire    740229
3      15        Nigeria    739708
4       9          Libya    739206
5       1          Benin    738133
6      27       Zimbabwe    737522
7      19        Somalia    736219
8       0        Algeria    736181
9      18   Sierra Leone    735477
10     13     Mozambique    735416
11      7          Ghana    735354
12     21          Sudan    734158
13     17        Senegal    733968
14     16         Rwanda    733511
15     24        Tunisia    733082
16      6       Ethiopia    732940
17     12        Morocco    732594
18     11           Mali    732358
19      8          Kenya    732247
20      3       Cameroon    730881
21      5          Egypt    729299
22      2   Burkina Faso    728332
23     10     Madagascar    726297
24     14          Niger    725841
25     22       Tanzania    725664
26     26         Zambia    725152
27     25         Uganda    724525