# Projects -Cohort Analysis for assessing customer retention in E-commerce industry

## 03 - RFM and Customer Tenure Feature Engineering

In this notebook, we calculate key customer metrics:
- **Recency:** Days since last purchase
- **Frequency:** Number of purchase orders
- **Monetary Value:** Total amount spent
- **Customer Tenure:** Days since first recorded purchase

These features will be used for customer segmentation, churn prediction, and business insights.

In [2]:
# Import libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import os

In [4]:
# Load Data
df = pd.read_csv("../dataset/Cleaned_Dataset_ecommerce2.csv")
df

,InvoiceNo,InvoiceDate,CustomerID,StockCode,Description,Quantity,UnitPrice,TotalPrice,Country,InvoiceMonth,InvoiceDate2,Hour
0,536365,2010-12-01 08:26:00,17850.0,SC1734,Electronics,65,10.23,664.95,Egypt,2010-12,2010-12-01,8
1,536365,2010-12-01 08:26:00,17850.0,SC2088,Furniture,95,19.61,1862.95,Mali,2010-12,2010-12-01,8
2,536365,2010-12-01 08:26:00,17850.0,SC3463,Books,78,61.49,4796.22,Mali,2010-12,2010-12-01,8
3,536365,2010-12-01 08:26:00,17850.0,SC6228,Toys,15,24.73,370.95,South Africa,2010-12,2010-12-01,8
4,536365,2010-12-01 08:26:00,17850.0,SC2149,Toys,50,38.83,1941.50,Rwanda,2010-12,2010-12-01,8
...,...,...,...,...,...,...,...,...,...,...,...,...
406824,581587,2011-12-09 12:50:00,12680.0,SC5440,Furniture,25,36.53,913.25,Mozambique,2011-12,2011-12-09,12
406825,581587,2011-12-09 12:50:00,12680.0,SC3576,Cloths,94,90.65,8521.10,Tunisia,2011-12,2011-12-09,12
406826,581587,2011-12-09 12:50:00,12680.0,SC5283,Furniture,14,40.07,560.98,Somalia,2011-12,2011-12-09,12
406827,581587,2011-12-09 12:50:00,12680.0,SC1099,Cosmetics,45,79.83,3592.35,Senegal,2011-12,2011-12-09,12
406828,581587,2011-12-09 12:50:00,12680.0,SC9276,Toys,6,46.62,279.72,Ethiopia,2011-12,2011-12-09,12