# Projects -Cohort Analysis for assessing customer retention in E-commerce industry

## 03 - RFM and Customer Tenure Feature Engineering

In this notebook, we calculate key customer metrics:
- **Recency:** Days since last purchase
- **Frequency:** Number of purchase orders
- **Monetary Value:** Total amount spent
- **Customer Tenure:** Days since first recorded purchase

These features will be used for customer segmentation, churn prediction, and business insights.

In [2]:
# Import libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import os

In [6]:
# Load Data
df = pd.read_csv("../dataset/Cleaned_Dataset_ecommerce2.csv")
df.head(10)

,InvoiceNo,InvoiceDate,CustomerID,StockCode,Description,Quantity,UnitPrice,TotalPrice,Country,InvoiceMonth,InvoiceDate2,Hour
0,536365,2010-12-01 08:26:00,17850.0,SC1734,Electronics,65,10.23,664.95,Egypt,2010-12,2010-12-01,8
1,536365,2010-12-01 08:26:00,17850.0,SC2088,Furniture,95,19.61,1862.95,Mali,2010-12,2010-12-01,8
2,536365,2010-12-01 08:26:00,17850.0,SC3463,Books,78,61.49,4796.22,Mali,2010-12,2010-12-01,8
3,536365,2010-12-01 08:26:00,17850.0,SC6228,Toys,15,24.73,370.95,South Africa,2010-12,2010-12-01,8
4,536365,2010-12-01 08:26:00,17850.0,SC2149,Toys,50,38.83,1941.50,Rwanda,2010-12,2010-12-01,8
5,536365,2010-12-01 08:26:00,17850.0,SC7895,Toys,41,45.31,1857.71,Sierra Leone,2010-12,2010-12-01,8
6,536365,2010-12-01 08:26:00,17850.0,SC8608,Books,44,39.31,1729.64,Benin,2010-12,2010-12-01,8
7,536366,2010-12-01 08:28:00,17850.0,SC3216,Toys,47,77.35,3635.45,Burkina Faso,2010-12,2010-12-01,8
8,536366,2010-12-01 08:28:00,17850.0,SC1236,Kitchenware,19,35.11,667.09,Nigeria,2010-12,2010-12-01,8
9,536367,2010-12-01 08:34:00,13047.0,SC4513,Furniture,55,3.21,176.55,Cote d'Ivoire,2010-12,2010-12-01,8

In [11]:
# 1. Set a reference date

reference_date = df['InvoiceDate'].max() + pd.Timedelta(days=1)
print(f'la date de reference est {reference_date}')

AttributeError: module 'pandas' has no attribute 'str'